body {
    background-image: url(https://img.freepik.com/free-vector/autumn-patterned-background_53876-93904.jpg?size=626&ext=jpg&ga=GA1.2.1468813500.1600560000);
    font-family: monospace;
    font-size: 1.5em;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

ul[class="nav"]{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #290001;
}

.nav > li {
    float: right;
}

.nav > li a {
    display: list-item;
    color: #ffffff;
    text-align: -webkit-center;
    padding: 16px;
    text-decoration: none;
}

.nav > li a:hover {
    background-color: #87431d;
}

input, select {
    font-family: monospace;
    width:40%;
    padding: 10px 10px;
    margin: 10px 0;
    display: flex;
    border: 5px solid #290001;
    border-radius: 100px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 25%;
    background-color: #290001
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 100px;
    cursor: pointer;
}



